<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Login Form Template</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/form-elements.css">
        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>

<h2>Signup form</h2>
<form action= "" method="get" >
    
        <strong>Email</strong>   <span id="msg_email">   </span><br>
        
        <input type="email" placeholder="Enter email" required="required" id="email" class="input"><br>
        
        <strong>Password</strong> <span id="msg_password">  </span><br>
        
        <input type="password" placeholder="Enter Password" required="required" id="password" class="input"> <br>
        
        <strong>Repeate password</strong> <span id="msg_repeatedpassword">  </span> <br>
        
        <input type="password" placeholder="Repeate Password" required="required" id="repeatedpassword" class="input"> <br>
        
        <strong>Fullname</strong> <span id="msg_fullname">  </span><br>
        
        <input type="text" placeholder="Fullname" required="required" id="fullname" class="input" > <br>
        
        <strong>Address(option)</strong> <br>
        
        <input type="text"  placeholder="Address" class="input" id="address"> <br>
        
        
        <p>By creating an account you agree to our <a href="">Terms & Privacy</a></p><br>   
        
        <input type="reset" value="Cancel" class="cancel">
        
        <input type="submit" value="Sign up" class="signup" onClick="return get_data()" >
        
    
</form>

        <!-- Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/js/scripts.js"></script>

    </body>

</html>